
.club-photo-container {
    justify-content: center;
    position: center;
}
  
.club-photo-container img {
    display: block;
    max-width: auto;
    max-height: 255px;
    width: auto;
    height: auto;
    object-fit: cover;
  }



.price-chip {
    background-color: chartreuse;
}
