.club-photo-container {
    position: relative; /* Position relative to allow absolute positioning of overlay */
    width: 100%;
    height: auto;
  }
  
  .club-photo-container img {
    display: block;
    max-width: 100%;
    max-height: 255px;
    object-fit: cover;
  }
  
  .description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 17px 7px;
    background: rgba(9, 10, 34, 0.8);
    color: #000;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .description-text {
    color: white;
    font-weight: 900;
    text-align: center;
    width: 100%;
  }
  
  .price-chip {
    background-color: chartreuse;
  }