@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.custom-modal {
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  background-color: rgb(0, 0, 0);
  --width: 100%;
  --height: 100%;
}

.custom-modal ion-toolbar {
  --background: #000000;
}

.custom-modal ion-title {
  font-size: 18px;
  font-weight: bold;
}

.custom-modal ion-content {
  --padding-top: 1px;
  --padding-bottom: 1px;
  height: 100%;
  overflow: auto;
}

.custom-modal h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.custom-modal .image-container {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.custom-modal img {
  max-width: 47%;
  height: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.custom-modal ion-list {
  margin-top: 10px;
}

.custom-modal ion-item {
  --padding-start: 0;
}

.custom-modal ion-label {
  display: flex;
  font-size: 14px;
  padding-left: 5px;
}


.modal-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-content {
  flex-grow: 1;
  overflow: auto;
}

.compact-item {
  --inner-padding-end: 5px;
  --padding-start: 5px;
  --ion-safe-area-right: 5px;
}

.compact-item-3, .compact-item-6 {
  --inner-padding-end: 5px;
  --padding-start: 5px;
  --ion-safe-area-right: 5px;
}

.compact-item ion-title[slot="start"] {
  flex: 0 0 auto;
  width: auto;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
}

ion-segment-button {
  --indicator-color: #df8507;
  --padding-end: 5px;
  --padding-start: 5px;
  font-size: 12px;
}

ion-segment {
  min-width: 0;
}

ion-range {
  padding-left: 5px;
  padding-right: 5px;
}

ion-footer ion-item {
  --padding-start: 5px;
  --padding-end: 5px;
}

  
  .lava-lamp-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .lava-lamp-background::before,
  .lava-lamp-background::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #ff00ff;
    opacity: 0.7;
    animation: lava-animation 20s infinite alternate;
  }
  
  .lava-lamp-background::before {
    background-image: radial-gradient(circle, #0a010a 20%, #0f2727 80%);
    animation-duration: 30s;
  }
  
  .lava-lamp-background::after {
    background-image: radial-gradient(circle, #000000 31%, #a6a6a6 100%);
    animation-delay: -20s;
  }
  
  @keyframes lava-animation {
    0% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(10%, 15%) scale(1.1);
    }
    50% {
      transform: translate(-5%, -10%) scale(0.9);
    }
    75% {
      transform: translate(-15%, 5%) scale(1.05);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  

 