.clubStateCard {
    height: 00px;
}

.capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
  }

  .centered {
    position: fixed;
    top: 20%;
    margin-top: -50px;
    margin-left: -100px;
  }

.centeredSurvey {
  position: fixed;
    top: 40%;
    margin-top: -50px;
    margin-left: -100px;
  
}

.surveyCard {
  height: 200px;
  width: 200px;
}