.clubStateCard {
    height: 00px;
}

.capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
  }

  .centered {
    position: fixed;
    top: 20%;
    margin-top: -50px;
    margin-left: -100px;
  }