.record-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 1s linear infinite;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.2); }
  }
  
  .record-button {
    font-size: 24px; /* Adjust as needed */
  }

  .captureButtons{
    padding-bottom: 3px;
  }

  .full-width-list {
    width: 100%;
  }

  .club-image {
    width: 20%;
    height: 20%;
  }

  .club-photos {
    height: 50px;
    height: 50px;
  }

  .modal {
    height: 100%;
  }

  .song-info {
    margin-right: 8px;
  }
  
  .genre-badge {
    margin-left: 8px;
  }

  .genre-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.genre-col .genre-badge {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 60px; /* Adjust the min-width as needed */
  max-width: 80px; /* Adjust the max-width as needed */
  height: 24px; /* Adjust the height as needed */
  padding: 0 8px;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);
  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot='header'],
ion-accordion.accordion-collapsed ion-item[slot='header'] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot='header'],
ion-accordion.accordion-expanded ion-item[slot='header'] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

.no-shadow {
  box-shadow: none;
}