.mapboxgl-popup-close-button {
    font-size: 30px;
    color: goldenrod;
    
  }


.mapPinSubtitle {
    padding-top: 10px;
    color: black;
}

.directionsButton {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.mapPinPopup {
    text-align: center;
}