.mapboxgl-popup-close-button {
    font-size: 30px;
    color: goldenrod;
    
  }


.mapPinSubtitle {
    padding: 20px;
    color: black;
}

.directionsButton {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}