:root {
  --swiper-background-color: #ffffff; /* Default background color for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --swiper-background-color: #000000; /* Background color for dark mode */
  }
}

.genreCard {
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    margin: 7px;
    
}


.genreTitle {
    position: relative;
    top: 10%;
}

.genreSwiper {
    padding-right: 10px;
    padding-top: 1vh;
    align-items: center;
    background-color: var(--swiper-background-color);
    
}

@media screen and (max-height: 700px) {
  .genreCard{
    height: 58px;
  }
  .genreSwiper {
    padding-top: 1vh;
  }
}

@media screen and (min-height: 701px) {
  .genreSwiper {
    padding-top: 5vh;
  }
}

.clubDivider {
    height: 1px;
    background-color: #0163aa;
}

.club-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Adjust alignment as needed */
    align-items: center; /* Adjust alignment as needed */
  }

.cardSwiper {
    align-items: center;
}

.filterButtons{
  align-content: center;
  display: flex;
  justify-content:flex-start;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 0px;
}


