.genreCard {
    height: 87px;

    text-align: center;
    align-items: center;
    margin: 7px;
    
}

.genreTitle {
    position: relative;
    top: 30%;
}

.genreSwiper {
    padding-top: 50px;
    align-items: center;
}

.clubDivider {
    height: 1px;
    background-color: #0163aa;
    color:#fff
    
}

.club-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Adjust alignment as needed */
    align-items: center; /* Adjust alignment as needed */
  }

.cardSwiper {
    padding-top: 10px;
    align-items: center;
}

.filterButtons{
  align-content: center;
  display: flex;
  justify-content:flex-start;
  padding-left: 10px;
  padding-top: 10px;
}


