:root {
  --swiper-background-color: #4d4949; /* Default background color for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --swiper-background-color: #000000; /* Background color for dark mode */
  }
}

.genreCard {
  width: 100%;
  height: 60px;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease, transform 0.4s ease;
}

.genreCard:active {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(20px);
}

.genreTitle {
    position: relative;
    top: 20%;
}


 .genreSwiper {
  padding-right: 1.1em;
  padding-left: -2em;
  align-items: center;
  background: linear-gradient(45deg, #373737, hsl(190, 12%, 19%), #394045, #5e666f, #52565a, #46515a, #454c56, #393e42, #332929, #30373c, #51636b, #0a0b11);
  background-size: 300% 300%;
  animation: lavaLamp 20s ease infinite;
}

@keyframes lavaLamp {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 



@media screen and (max-height: 700px) {
  .genreCard{
    height: 53px;
  }
}

@media screen and (min-height: 701px) {
  .genreSwiper {
    padding-top: 3vh;
  }
}


.club-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Adjust alignment as needed */
    align-items: center; /* Adjust alignment as needed */
  }

.swiperContainer {
  overflow: hidden !important;  
  background: linear-gradient(45deg, #373737, hsl(190, 12%, 19%), #394045, #5e666f, #27292b, #2d3236, #33373c, #393e42, #332929, #30373c, #51636b, #0a0b11);
  animation: lavaLamp 20s ease infinite;
  height: 100%;

}

.genreSwiper {
  padding-top: 0;
  position: sticky;
  top: 0;
  z-index: 5000; 
}

.filterButtons {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  position: sticky;
  width: auto;
  top: 10px;
  z-index: 2500; 
  margin-left: 17px;

}

.filterHeader {
  max-height: 100px !important;
}

.filter-chip {
  color: white;
}

.filterButtons .filter-chip {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.filterButtons .filter-chip.active {
  background-color: rgba(22, 216, 87, 0.537); /* Background color for active chip */
  color: white; /* Text color for active chip */
  border-color: #ffffff; /* Border color for active chip */
}

/* Optionally, you can define default styles */
.filterButtons .filter-chip {
  
  color: white; /* Default text color */
}